.aluguel{
  padding: var(--spacing-xl) 15rem;
  min-height: calc(100vh - 112px);

}

.img-thumbnail {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
}

.table-scroll{
  width: 100%;
  max-height: 350px; /* Define a altura máxima do contêiner */
  overflow-y: auto; /* Adiciona o scroll vertical */
}

.galeria{
  border:1px solid rgb(219, 221, 226);
}

.card {
  min-height: 500px;
}
