<div class="table-field">
  <!-- Tabela de exceções -->

  <button class="btn btn-primary w-25 mb-2" (click)="newCampo()">Novo Campo</button>

  <div class="card">
    <div class="card-body">
      <table class="table table-striped ">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Tipo</th>
            <th>Dimensões</th>
          </tr>
        </thead>
        <tbody class="table-scroll">
          <tr *ngFor="let campo of campos">
            <td>{{ campo.nome }}</td>
            <td>{{ campo.descricao }}</td>
            <td>{{ campo.preco }}</td>
            <td>{{ campo.tipo }}</td>
            <td>{{ campo.dimensoes }}</td>
            <td>
              <button (click)="editCampo(campo)" class="btn btn-warning btn-sm  acoes">Editar</button>
              <button (click)="deleteCampo(campo.id||0)" class="btn btn-danger btn-sm acoes ">Deletar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
