
.list-detail-field{

  padding: var(--spacing-xl) 15rem ;
  min-height:calc( 100vh - 112px) ;
  .group-card{

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.8rem;
  }
  .card {
    height: 500px;
    width: 350px;
    margin-bottom: 20px;
  }

  .card-img-container {
    height: 250px;
    width: 100%;
    overflow: hidden;
  }

  .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .card-body {
    max-height: 180px;
    min-height: 180px;
    overflow-y: auto;
  }

}
