<div class="cadastro">
  <div   class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Cadastro
        </div>
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" required>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Senha</label>  
              <input type="password" class="form-control" id="password" required>
            </div>

            <div class="mb-3">
              <label for="confirmPassword"   class="form-label">Repita a Senha</label>
              <input type="password" class="form-control" id="confirmPassword"   required>
            </div>
            <button type="submit" class="btn btn-primary w-25">Cadastrar</button>
            <button type="submit" class="btn btn-secondary ms-1 w-25">Reset de senha</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
